*{
    padding: 0 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    color: #f9faf8;
    background-color: #1f2937;
}

.headertop{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.header-logo{
    color: #f9faf8;
    font-size: 24px;
}

a{
    text-decoration: none;
    color: #f9faf8;
}

.title{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.titlesub{
    font-size: 18px;
    color: #e5e7eb;
}

.headerbody {
    display: flex;
    padding: 100px;
    justify-content: space-around;
}

img{
    max-height: 200px;
    margin-left: 44px;
}

.signs-up{
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 20px;
    border-radius: 8px;
    border: none;
}

.h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 50px;
}

.boxes{
    color: #1f2937;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.square{
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

span{
    text-align: center;
    margin: auto;
    max-width: 200px;
}

.section2 {
    margin: 50px;
    text-align: center;
}

.section3{
    background-color: #e5e7eb;
    padding: 200px;
    display: flex;
    flex-direction: column;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-author{
    color: #1f2937;
    font-weight: bold;
    align-self: flex-end;
}

.section4{
    padding: 88px 177px;
}

.call-action{
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    display: flex;
    padding: 33px 77px;
    justify-content: space-around;
}

.button{
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 20px;
    border-radius: 8px;
    border: 2px white;
}

